.SearchForm {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  background-color: white;
}

.sfInput {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sfInput input {
  border: none;
  font-size: 1.3rem;
  padding: 1rem;
  margin-right: 1rem;
  width: 30rem;
}

.sfInput input:focus {
  outline: none;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 1rem;
}

.buttons > button {
  font-size: 1rem;
  padding: 0.8rem;
  margin: 1rem;
  border: none;
  color: black;
  background-color: white;
}

.buttons > button:last-child {
  background-color: rgb(0, 157, 214);
  color: white;
}

.hr {
  padding: 0;
  width: 100%;
  height: 0.2rem;
  background-color: rgb(0, 157, 214);
  border: none;
  font-size: 1.5rem;
}

.searchFormIcon {
  height: 2rem;
}
